{
  "cache": false,
  "check-coverage": true,
  "extension": [
    ".ts"
  ],
  "include": [
    "lib/**/*.ts"
  ],
  "exclude": [
    "coverage/**",
    "node_modules/**"
  ],
  "temp-directory": "./coverage/.nyc_output",
  "sourceMap": true,
  "reporter": [
    "text",
    "text-summary",
    "cobertura",
    "html"
  ],
  "all": true,
  "instrument": true
}
